# How to check the consistency between two code sets
This notebook demonstrates how to use the emocodes library to examine how similar two sets of codes are. 

**Note**: the files used in this notebook have already been validated and processed (converted to timeseries format).

## Use Case 1: Check consistency between two coders and combine to create codes set for analysis

In [1]:
import emocodes as ec
import pandas as pd

coder1 = '/Users/catcamacho/Box/CCP/EmoCodes_project/reliability_data/processed/AHKJ_S1E2/subjective_character_Clover_timeseries_DB_20210705-163848.csv'
coder2 = '/Users/catcamacho/Box/CCP/EmoCodes_project/reliability_data/processed/AHKJ_S1E2/subjective_character_Clover_timeseries_RK_20210705-163849.csv'

# read the csvs
coder1_df = pd.read_csv(coder1, index_col=0)
coder2_df = pd.read_csv(coder2, index_col=0)

# run the consensus class
results = ec.Consensus().interrater_consensus([coder1_df, coder2_df])

/Users/catcamacho/Library/Python/3.8/lib/python/site-packages/outdated/utils.py:14: OutdatedPackageWarning: The package pingouin is out of date. Your version is 0.4.0, the latest is 0.5.0.
Set the environment variable OUTDATED_IGNORE=1 to disable these warnings.
  return warn(

In [2]:
results.consensus_scores

    RatingsA RatingsB         ColumnVariable PercentOverlap
0_0  rater00  rater01         char_intensity      88.897546
0_1  rater00  rater01  char_valence_negative      70.440203
0_2  rater00  rater01  char_valence_positive      87.245812
0_3  rater00  rater01              on_screen      98.441761

In [3]:
results.mismatch_segments.to_csv('RK_DB_mismatch_report.csv')

If we are happy with the overlap, we can average them to create one final version:

In [4]:
combined_codes = pd.concat([coder1_df, coder2_df])
combined_codes.head()

      char_intensity  char_valence_negative  char_valence_positive  on_screen
time
100                0                    NaN                    NaN        0.0
200                0                    NaN                    NaN        0.0
300                0                    NaN                    NaN        0.0
400                0                    NaN                    NaN        0.0
500                0                    NaN                    NaN        0.0

In [5]:
averaged_codes = combined_codes.groupby('time').mean()
averaged_codes.head()

      char_intensity  char_valence_negative  char_valence_positive  on_screen
time
100              0.0                    NaN                    NaN        0.0
200              0.0                    NaN                    NaN        0.0
300              0.0                    NaN                    NaN        0.0
400              0.0                    NaN                    NaN        0.0
500              0.0                    NaN                    NaN        0.0

In [6]:
averaged_codes.to_csv('final_codes.csv')